.issues {
    width: 50%;
}

.issue {
    background-color: #f4f4f4;
    box-shadow: 12px 12px 11px 0px #808080;
}

.issue > * {
    margin-left: 0px;
  }

.avatarImage{
    height: 50px;
    width: 50px;
}

.comment {
  width: 90%;
  margin: 0% 5% 0% 5%;
}

.comment:nth-child(odd) {
  background-color: #ffffff;
}

.commentAvatarImage{
  max-height: 30px;
}

.commentFooter {
  font-size: 0.8em;
}
